@media screen and (max-width: 800px) and (min-width: 651px) {

body{
  overflow-x:hidden;	
}

.circular-menu {
  width: 90% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circular-menu2 {
  width: 90% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circular-menu3 {
  width: 90% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circular-menu4 {
  width: 90% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circular-menu5 {
  width: 90% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle2 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle3 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle4 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle5 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


}

@media screen and (max-width: 650px) and (min-width: 541px) {

body{
  overflow-x:hidden;	
}

.circular-menu {
  width: 115.2% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
  left:-10% !important;
  padding:15px;
}

.circular-menu2 {
  width: 115.2% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
  left:-10% !important;
  padding:15px;
}

.circular-menu3 {
  width: 115.2% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
  left:-10% !important;
  padding:15px;
}

.circular-menu4 {
  width: 115.2% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
  left:-10% !important;
  padding:15px;
}

.circular-menu5 {
  width: 115.2% !important;
  height: 650px;
  margin: 0 auto;
  position: relative;
  left:-10% !important;
  padding:15px;
}

.circle {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle2 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle3 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle4 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle5 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


}


@media screen and (max-width: 540px) and (min-width: 290px) {

body{
  overflow-x:hidden;	
}


.circular-menu {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-12% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu2 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-12% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu3 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-12% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu4 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-12% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu5 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-12% !important;
  padding:15px;
  overflow:hidden;
}


.circle {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle2{
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle3 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle4 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.circle5 {
  width: 100% !important;
  height: 90% !important;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


.menu-button{
	left:30%;
}

.menu-button2{
	left:30%;
}

.menu-button3{
	left:30%;
}

.menu-button4{
	left:30%;
}

.menu-button5{
	left:30%;
}


.circle a img{
	padding:15%;
}
	
}

@media screen and (max-width: 450px) and (min-width: 290px) {


.circular-menu {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-19% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu2 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-19% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu3 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-19% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu4 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-19% !important;
  padding:15px;
  overflow:hidden;
}

.circular-menu5 {
  width: 132.2% !important;
  height: 520px;
  margin: 0 auto;
  position: relative;
  left:-19% !important;
  padding:15px;
  overflow:hidden;
}


.menu-button{
	width:40% !important;
	padding:5%;
	margin-left:2%;
}

.menu-button2{
	width:40% !important;
}

.menu-button3{
	width:40% !important;
}

.menu-button4{
	width:40% !important;
}

.menu-button5{
	width:40% !important;
}
	
}