body {
	overflow-x:hidden;
}

@media (max-width: 1200px) {	

.navbar-header{
	padding:20px;
}

.footer1stColumn{
	text-align:center;
}

.footer4thColumn{
	text-align:center;
	margin-top:10px;
}

.footerBottom div h4{
	text-align:center;
	font-size:16px !important;
	padding-top:5px;
}

}	


@media (max-width: 900px) {
.navright1{
	text-align:center;
}	
}


@media (max-width: 800px) {
.nav-burger{
	position:relative;
	left:48%;
	margin-bottom:20px;
}

.navbar-header img{
	margin:0 auto;
}

}


@media (max-width: 650px) {
.navright1{
	text-align:center;
	padding:10px;
}

.nav-burger{
	position:relative;
	left:48%;
}

.navbar-header{
	padding:20px;
}

.footer1stColumn{
	text-align:center;
}

.footer4thColumn{
	text-align:center;
	margin-top:10px;
}

.footerBottom div h4{
	text-align:center;
	font-size:16px !important;
	padding-top:5px;
}

}	

@media (max-width: 450px) {
.navright1 img{
	width:8%;
	text-align:center;
}
.navright1 h4{
	font-size:12px;
	text-align:center;
	margin-left:15px;
}


.nav-burger{
	margin-bottom:0px;
}	
}
