.storyRotateLeft {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.storyRotateRight {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.storyRotateLeft:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-10deg) scale(1.1);
  -moz-transform: rotate(-10deg) scale(1.1);
  -o-transform: rotate(-10deg) scale(1.1);
  -ms-transform: rotate(-10deg) scale(1.1);
  transform: rotate(-10deg) scale(1.1);
  position:relative;
  z-index:99999;  
}

.storyRotateRight:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(10deg) scale(1.1);
  -moz-transform: rotate(10deg) scale(1.1);
  -o-transform: rotate(10deg) scale(1.1);
  -ms-transform: rotate(10deg) scale(1.1);
  transform: rotate(10deg) scale(1.1);
  position:relative;
  z-index:99999;    
}