

@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";


.circular-menu3 {
  width: 50%;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.circle3 {
  width: 100%;
  height:81%;
  opacity: 0;
  position:relative;
  left:2%;
  top:7%;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle3 {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle3 a {
  text-decoration: none;
  color: white;
  display: block;
  height: 180px;
  width: 180px;
  line-height: 40px;
  margin-left: -130px;
  margin-top: -95px;
  position: absolute;
  text-align: center;

}

.circle3 a:hover {
  color: #eef;
}

.menu-button3 {
  position: absolute;
  top: calc(46% - 30px);
  left: calc(44% - 30px);
  text-decoration: none;
  text-align: center;
  color: #444;
  border-radius: 50%;
  display: block;
  height: 140px;
  width: 140px;
  line-height: 40px;
  padding: 10px;

}

.menu-button3:hover {

}
