body, .timeline{
	overflow-x:hidden;
}

.timeline-panel p{
	font-size:18px;
}

.timeline-panel .storyLeft{ 
	width:99%; 
	height:30px;
	position:relative; 
	bottom:-15px;
}

.storyCenterImgLeft{
	position:relative;
	display:inline-block;
}

.storyCenterImgRight{
	position:relative;
	display:inline-block;
	right:-761px;
	bottom:-22px;
}

.storyCenter{ 
	width:100%; 
	height:30px;
	background-color:#edb686;
}

.storyCenter strong{ 
	font-size:80px;
	position:relative;
	top:-60px;
}

.timeline-panel .storyRight{
	width:99%; 
	height:30px;
	position:relative; 
	bottom:-15px;
}

.timeline-panel .storyImg{
	position:relative; bottom:-15px;
}

.timeline-panel .storyImgRight{
	position:relative;
	right:-190px;
	bottom:-15px;
}

.timeline-panel .storyLeftStrong{
	position:absolute; 
	font-size:80px; 
	right:3%; 
	top:-60px;
}

.timeline-panel .storyRightStrong{
	position:absolute; 
	font-size:80px; 
	left:1%; 
	top:-60px;
}

.dot-timeline {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 30px;
  background-image: url("../images/dot2.png");
  background-repeat: repeat-y;  
  left: 50%;
  margin-left: -2.5px;
}
.profile-cover {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);  	
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 49%;
  float: left;
  /*border: 1px solid #d4d4d4;*/
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  /*position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}

/*
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
*/

.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #FF531F !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
    background: #fff;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-header{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.timeline-heading{
  background: #fff;
}
.facebook-share-box {
    width: 100%;
}

.facebook-share-box .share-form{
	padding: 2%;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}

.facebook-share-box .share .arrow {
    background: url(../img/arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}

.facebook-share-box .post-types li a.active {
    color: #404040;
}

.facebook-share-box .post-types {
    padding-left: 5px;
}

.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}

.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}
.message {
    border-radius: 0;
    border: none;
}

.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.timeline-images{
  margin: 2px;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1280px) {

	.timeline-panel .storyImgRight{
	position:relative;
	right:0px;
	bottom:-15px;	
	}	
	
	.textPresent{
	font-size:65px !important;
	width:600px;
	}	
	
}	
	

@media (max-width: 767px) {
	
	.textPresent{
	font-size:40px !important;
	width:400px;
	}	
	
	.timeline-panel .storyImgRight{
	position:relative;
	right:0px;
	bottom:-15px;
	}
	
	ul.timeline:before {
		left: 0px;
	}
	
	.dot-timeline{
		position:absolute;
		left: 3px;
		top:-15px;
	}
	
	ul.timeline > li > .timeline-panel {
		width: calc(100% - 30px);
		width: -moz-calc(100% - 30px);
		width: -webkit-calc(100% - 30px);
	}
	ul.timeline > li > .timeline-badge {
		left: 28px;
		margin-left: 0;
		top: 20px
	}
	ul.timeline > li > .timeline-panel {
		float: right;
		margin-right: 0%;
	}
	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

@media (max-width: 480px) {

.textPresent{
	font-size:30px !important;
	width:400px;
}
.storyCenter strong{
	font-size:25px !important;
	position:relative;
	top:-95px;
}
.storyCenter p{
	font-size:16px !important;
	position:relative;
	margin-top:-15px;
}
.storyCenter{
	background-color:transparent;
}
.storyCenterImgLeft, .storyCenterImgRight{
	display:none;
}
	
}


@media (max-width: 384px) {
.storyCenter strong{
	font-size:25px !important;
	position:relative;
	top:5px;
}
.storyCenter p{
	font-size:12px !important;
	position:relative;
	margin-top:80px;
}

.timeline-panel p{
	font-size:12px;
	text-align:center;
}	
}


@media (max-width: 360px) {
.storyCenter strong{
	font-size:25px !important;
	position:relative;
	top:5px;
}
.storyCenter p{
	font-size:16px !important;
	position:relative;
	margin-top:80px;
}

.timeline-panel p{
	font-size:12px;
	text-align:center;
}	
}


@media (max-width: 320px) {
.storyCenter strong{
	font-size:25px !important;
	position:relative;
	top:5px;
}
.storyCenter p{
	font-size:10px !important;
	position:relative;
	margin-top:80px;
}

.timeline-panel p{
	font-size:12px;
	text-align:center;
}	
}